.motionContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: var(--space);

    .actions {
        display: flex;
        gap: var(--space);
        margin-top: var(--space);
        justify-content: space-between;
        align-items: center;

        > div {
            display: flex;
            gap: var(--space);
        }

        .modify {
            margin-left: var(--space);
            background-color: var(--color-background);
            border-radius: var(--border-radius);
            padding: var(--space-sm);
        }

        @media (width <= 880px) {
            flex-direction: column;
            gap: var(--space-sm);

            > div {
                gap: var(--space-sm);
            }

            .modify {
                margin-left: 0;
            }
        }
    }

    > div:first-child {
        width: 100%;
    }
}

.overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: var(--space);
    border-radius: var(--border-radius);
    background-color: var(--color-background);

    .title {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: var(--space);
        margin-bottom: var(--space-sm);
    }

    .titleEdit {
        width: 320px;
        height: 60px;
        background-color: var(--color-foreground);
    }
}

.comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.replies {
    margin-left: var(--space-lg);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    margin-bottom: var(--space-sm);
}

.comment,
.reply {
    border-radius: var(--border-radius);
    padding: var(--space-sm);

    &[data-comment-type='positive'] {
        background-color: var(--color-primary-background);
    }

    &[data-comment-type='negative'] {
        background-color: var(--color-critical-background);
    }

    &[data-comment-type='neutral'] {
        border: var(--border);
    }
}

.comment {
    margin-bottom: var(--space-sm);

    .actions {
        display: flex;
        gap: var(--space);
        margin-top: var(--space-sm);
        justify-content: flex-start;
        align-items: center;

        > button {
            &:first-child {
                padding-left: 0;
            }
        }
    }
}

.reply {
    padding-bottom: var(--space);
}

/* stylelint-disable */
.info {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-sm);
    color: var(--color-text);

    > div {
        display: flex;
        place-items: center start;
        gap: var(--space);
    }
}
/* stylelint-enable */

.response {
    border: var(--border);
    border-radius: var(--border-radius);
    margin-bottom: var(--space-sm);

    > header {
        padding-top: var(--space-sm);
        padding-inline: var(--space-sm);
    }

    .submit {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--space);
        padding-inline: var(--space-sm);
        padding-bottom: var(--space-sm);
    }
}

.textAreaStyle {
    width: 100%;
    height: 100px;
    padding: var(--space-sm);
    border: var(--border);
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: var(--font-md);
    border-radius: 4px; /* Rounded corners */
}

.discusionBox {
    display: flex;
    flex-direction: column;
    gap: var(--space);
    margin-top: var(--space);
}

.textBox {
    width: 100%;
    padding: var(--space-sm);
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: var(--font-md);
}
