.header {
    width: 100%;
    height: 80px;
    background-color: var(--color-foreground);
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: start;
    padding-inline: var(--space-lg);
    border-bottom: var(--border);
    position: sticky;
    inset: 0;
    z-index: 98;

    .committee {
        font-size: var(--font-xl);
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: var(--space);
        margin-left: var(--space-lg);
    }
}

.profile {
    width: 32px;
    height: 32px;
    background-color: var(--color-primary-dark);
    border-radius: 50%;
    margin-left: var(--space);
}
