.header {
    width: 100%;
    min-height: 80px;
    background-color: var(--color-foreground);
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--space);
    padding-block: var(--space-sm);
    border-bottom: var(--border);
    position: sticky;
    inset: 0;
    top: 64px;
    z-index: 98;

    .committee {
        font-size: var(--font-lg);
        display: flex;
        align-items: center;
        justify-content: start;
        width: min(fit-content, 260px);
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: var(--space-sm);
        flex-wrap: wrap;
    }

    @media (width <= 900px) {
        flex-direction: column;
        align-items: flex-start;

        .committee {
            width: unset;
        }

        .nav {
            margin-top: var(--space-sm);
        }
    }

    @media (width <= 640px) {
        .nav {
            justify-content: center;
        }
    }
}

.profile {
    width: 32px;
    height: 32px;
    background-color: var(--color-primary-dark);
    border-radius: 50%;
    margin-left: var(--space);
}
