.textbox {
    width: 100%;
    min-height: 96px;
    font-family: var(--font);
    font-size: var(--font-md);
    background-color: var(--color-background);
    color: var(--color-text);
    border: var(--border);
    padding: var(--space-sm);
    resize: none;
    overflow: hidden;
    border-radius: var(--border-radius);

    &:focus {
        outline: var(--color-primary) solid 2px;
    }

    &.invisible {
        background-color: unset;
        border: unset;
        border-radius: unset;
        outline: none !important;
    }
}
