* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    display: block;
    box-sizing: border-box;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    min-height: 100vh;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: var(--color-text);
    background-color: var(--color-page);
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    > div {
        min-height: 100vh;
    }
}

section {
    $min-padding: max(5%, 8px);
    $max-width: 1280px;

    width: 100%;
    padding-inline: max(calc((100% - #{$max-width}) / 2), #{$min-padding});
    padding-block: 2rem;
}

a {
    text-decoration: none;
    color: var(--color-primary);

    &:hover {
        text-decoration: underline;
    }
}

fieldset {
    margin-bottom: var(--space-lg);
    text-align: left;
    border: none;

    > label {
        display: block;
        margin-bottom: var(--space-sm);
        font-weight: bold;
    }
}

input {
    width: 100%;
    height: 38px;
    font-family: var(--font);
    font-size: 1rem;
    padding-inline: var(--space);
    background-color: var(--color-background);
    border: var(--border);
    color: var(--color-text);
    border-radius: var(--border-radius);

    &:active,
    &:focus {
        outline-color: var(--color-primary);
    }
}

button,
[data-button-type] {
    height: 42px;
    background-color: var(--color-background);
    border: none;
    padding: var(--space-sm);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: var(--border-radius);
    font-family: var(--font);
    transition: linear 0.5s filter;

    &[data-button-type='primary'] {
        background-color: var(--color-primary);
        color: var(--color-text-inverse);
        border: none;
    }

    &[data-button-type='secondary'] {
        border: var(--border);
        background-color: var(--color-foreground);
    }

    &[data-button-type='ghost'] {
        border: none;
        background-color: unset;
        font-weight: normal;
    }

    &:hover {
        filter: brightness(0.95);
        text-decoration: none;
    }
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

hr {
    margin-block: var(--space);
}
