:root {
    --color-primary: #09bc8a;
    --color-primary-dark: #004346;
    --color-text: #222;
    --color-text-inverse: #fff;
    --color-page: #fcfcfc;
    --color-background: #f0f0f0;
    --color-foreground: #fcfcfc;
    --border: 1px solid #d3d3d3;
    --border-radius: 8px;
}
