.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.filter {
    display: flex;
    justify-content: center;
    gap: var(--space);

    button {
        &.selected {
            background-color: var(--color-primary);
            color: var(--color-text-inverse);
        }

        &:not(.selected) {
            background-color: var(--color-foreground);
            color: var(--color-primary);
            border: var(--border);
        }
    }
}

.row {
    display: grid;
    grid-template-columns: var(--table-layout);
    align-items: center;
}

.motionTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: left;
}

.tableHeader {
    font-weight: bold;
    padding: var(--space);

    > span {
        padding-inline: var(--space-sm);
    }
}

.motion {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--space);
    margin-bottom: var(--space);
    transition: 0.25s linear box-shadow;

    &[data-motion-status='passed'] {
        background-color: var(--color-primary-background);
    }

    &[data-motion-status='failed'] {
        background-color: var(--color-critical-background);
    }

    &:hover {
        box-shadow: var(--shadow);
        cursor: pointer;
    }

    > * {
        &:not(:first-child) {
            margin-inline-start: var(--space-sm);
        }

        &:not(:last-child) {
            margin-inline-end: var(--space-sm);
        }
    }
}

.submotion {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--space);
    margin-bottom: var(--space);
    transition: 0.25s linear box-shadow;
    margin-left: var(--space-xl);
    background-color: var(--color-background);
    color: grey;

    &:hover {
        box-shadow: var(--shadow);
    }

    > * {
        &:not(:first-child) {
            margin-inline-start: var(--space-sm);
        }

        &:not(:last-child) {
            margin-inline-end: var(--space-sm);
        }
    }
}

.empty {
    background-color: var(--color-background);
    width: 80%;
    min-height: 96px;
    margin-inline: auto;
    margin-top: var(--space-lg);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.textAreaStyle {
    width: 100%;
    height: 100px;
    padding: var(--space-sm);
    border: var(--border);
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: var(--font-md);
    border-radius: 4px; /* Rounded corners */
}
