.toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space);

    > label {
        font-size: var(--font-lg);
        font-weight: normal;
    }

    > [class*='react-toggle'] {
        margin-right: var(--space-sm);
    }
}
