.userList {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space);
    padding: var(--space);
    list-style-type: none;
    width: fit-content;
}

.row {
    display: flex;
    gap: var(--space-sm);
    align-items: center;
}

.user {
    width: 360px;
    height: 52px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--space);
    padding-inline: var(--space-sm);
    border: var(--border);
    border-radius: var(--border-radius);

    .name {
        align-items: center;
        display: flex;
    }

    .role {
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--space-sm);
    }
}

.addUser {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}
