.termsContainer {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}

h1 {
    font-size: 1rem;
    color: #333;
    text-align: center;
    margin-top: 10px;
}

section {
    margin-bottom: 0;
}

h2 {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 0;
}

li {
    list-style-type: disc;
    margin-left: 20px;
}

p {
    line-height: 1.6;
}
