.title {
    color: var(--color-primary);
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.headlineTitle {
    font-size: 400%;
}

.headlineSubtitle {
    font-size: 150%;
    font-weight: bold;
    padding-top: 1em;
}

.book {
    mask-image: rgb(241 241 241);
    mask-image: linear-gradient(270deg, rgb(241 241 241 / 100%) 25%, rgb(241 241 241 / 100%) 60%, rgb(98 94 94 / 0%) 100%);
    mask-image: linear-gradient(270deg, rgb(241 241 241 / 100%) 25%, rgb(241 241 241 / 100%) 60%, rgb(98 94 94 / 0%) 100%);
    mask-image: linear-gradient(270deg, rgb(241 241 241 / 100%) 25%, rgb(241 241 241 / 100%) 60%, rgb(98 94 94 / 0%) 100%);
}

.headerImage {
    display: grid;
    background: rgb(241 241 241);
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
