/* background styling */
.loginContainer {
    width: 100%;
    background-image: radial-gradient(var(--color-primary), white); /* Change this to your desired color */
    display: flex; /* Flexbox layout */
    justify-content: center; /* x-axis centering */
    align-items: center; /* y-axis centering */
}

/* title styling */
.title {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-primary);
    margin: 0;
}

/* form group styling */
.formGroup {
    border: var(--border);
    margin: auto;
    padding: 50px;
    text-align: center;
    background-color: var(--color-foreground);
    border-radius: 8px; /* rounded edges */
}

/* input group styling */
.inputGroup {
    margin-bottom: 20px;
    text-align: left;
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputGroup input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 8px; /* rounded edges */
}

/* button styling */
.loginButton {
    margin: 0 auto;
    background-color: var(--color-primary);
    border: none;
    color: white;
    padding: 15px 320px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; /* rounded edges */
}
