.committeeViewTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space);
}

.committeeList {
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    width: 100%;
    margin-block: var(--space);
    padding: var(--space);
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: var(--space);
}

.committee {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--color-foreground);
    width: 100%;
    padding: var(--space);
    transition: 0.25s linear box-shadow;

    &:hover {
        box-shadow: var(--shadow);
    }
}

.committeeHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.committeeCardFooter {
    width: 100%;
    font-size: var(--font-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space);
}

.toggleSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggleText {
    font-size: var(--font-lg);
    font-weight: bold;
}

.toggle {
    margin-right: var(--space-sm);
}

.userList {
    display: flex;
    flex-direction: column;
    gap: var(--space);
    padding: var(--space);
    list-style-type: none;
    width: 360px;
}

.userAndRole {
    display: flex;
    gap: var(--space);
}

.userBox {
    align-items: center;
    width: 15em;
    height: 2.5em;
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    display: flex;
    box-shadow: var(--shadow);
}

.roleBox {
    width: 2.5em;
    height: 2.5em;
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    box-shadow: var(--shadow);
}

.userNameText {
    font-size: var(--font-lg);
    font-weight: bold;
    padding-left: var(--space);
}

.iconImage {
    height: 2.5em;
    width: 2.5em;
    padding: var(--space-sm);
}
