.committeeViewTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space);
}

.committeeList {
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    width: 100%;
    margin-block: var(--space);
    padding: var(--space);
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: var(--space);
}

.committee {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--color-foreground);
    width: 100%;
    padding: var(--space);
    transition: 0.25s linear box-shadow;

    &:hover {
        box-shadow: var(--shadow);
    }
}

.committeeCardFooter {
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;

    > div {
        width: max(50%, 600px);
        height: auto;
        background-color: var(--color-foreground);
        border: var(--border);
        border-radius: var(--border-radius);
        padding: var(--space-lg);
        display: flex;
        flex-direction: column;
        gap: var(--space);
    }

    .modalFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--space);
    }
}

.inputGroup {
    margin-bottom: 20px;
    text-align: left;
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputGroup input {
    width: 100%;
}

.toggleSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 50%;
}

.toggleText {
    font-size: 1.2rem;
    font-weight: bold;
}

.toggle {
    margin-right: 10px;
}
