.buttonContainer {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.upvote {
    background-color: var(--color-primary);
    color: white;
}

.downvote {
    background-color: red;
    color: white;
}

.noVote {
    background-color: grey;
    color: white;
}

.postpone {
    background-color: var(--color-primary);
    color: white;
}

.amend {
    background-color: var(--color-primary);
    color: white;
}
