@import '../Modal.module';

.motionTable {
    display: grid;
    gap: var(--space);
    width: 100%;
}

.motionTableHeader, .pastMotionTableHeader, .motion, .pastMotion {
    display: grid;
    gap: var(--space);
    text-align: left;
}

.motionTableHeader, .motion {
    grid-template-columns: 2fr 1fr 1fr;
}

.pastMotionTableHeader, .pastMotion {
    grid-template-columns: 0.2fr 2fr 1fr 1fr;
}

.motionTitle {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: #00000040;
    padding: var(--space);
    width: 90%;
}

.motionAuthor, .motionDate {
    padding-top: var(--space);
    font-weight: bold;
}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin-top: var(--space);
    margin-bottom: var(--space);
    gap: var(--space);

    .selected {
        background-color: var(--color-primary);
        color: var(--color-text-inverse);
    }

    .notSelected {
        background-color: var(--color-foreground);
        color: var(--color-primary);
        border: var(--border);
    }
}
