.page {
    min-height: calc(100vh - 64px);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    > section:last-of-type {
        flex-grow: 1;
    }
}
