.highlight {
    color: var(--color-primary);
    font-weight: bold;
}

.header {
    padding: 0;
    display: grid;
    background: rgb(241 241 241);
    grid-template-columns: 660px 1fr;
    border-bottom: var(--border);

    @media (width <= 1080px) {
        grid-template-columns: 1fr;
    }
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--space-xl) var(--space-lg);
    line-height: 1.15;
    background-color: #0a0a0a;
    color: var(--color-text-inverse);

    .title {
        font-size: var(--space-xl);
        padding-bottom: var(--space);
    }

    .subtitle {
        font-weight: bold;
        padding-top: var(--space);
    }
}

.book {
    min-height: 300px;
    background-color: #0a0a0a;
    background-size: contain;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding-top: var(--space-lg);
    row-gap: var(--space);

    .title {
        font-size: 3rem;
    }
}

.card {
    background: var(--color-primary);
    border-radius: var(--border-radius);
    display: flex;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--space-lg);
    color: var(--color-text-inverse);
    font-weight: bold;

    .content {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 50%));

        @media (width <= 1080px) {
            grid-template-columns: 1fr;
        }
    }

    .cardText {
        padding: var(--space);
    }

    .cardImage {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;

        > img {
            height: 100%;
        }
    }
}
